<f:if condition="{feed.channel.item -> f:count()} > 0">
   <f:for each="{feed.channel.item}" as="item">
        <f:link.external uri="{item.link}" class="list-group-item" target="_blank" title="{item.title}">
            <div class="media">
                <f:if condition="{item.media.thumbnail}">
                    <f:then>
                        <div class="media-left">
                            <img class="media-object" src="{item.media.thumbnail.url}" alt="...">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{item.title}</h4>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="media-body">
                            <h4 class="media-heading">{item.title}</h4>
                            <f:format.crop maxCharacters="80" respectHtml="TRUE" append="&nbsp;[...]"><f:format.raw>{item.description}</f:format.raw></f:format.crop>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:link.external>
    </f:for>
</f:if>